{% extends 'base.html.twig' %}

{% block title %}{{ 'recipeDetailsTitle'|trans({'%title%': recipe.title}) }}{% endblock %}
{% block stylesheets %}
    <style>
        .recipe-details-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
    </style>
{% endblock %}

{% block body %}
    <script>
        function goBack() {
            {% if isFromEditPage %}
            window.history.go(-3)
            {% else %}
            window.history.back()
            {% endif %}
        }
    </script>
    <div class="recipe-details-wrapper">
        <div class="bg-gray-800 text-white p-6 rounded-2xl shadow-md">
            <div class="flex flex-col md:flex-row md:justify-between">
                <button onclick="goBack()"
                        class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-lg mb-4 flex items-center">
                    <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                    </svg>
                    {{ 'backFromDetailsBtnText'|trans }}
                </button>
                {% if app.user and (recipe.user.id == app.user.id or app.user.role == 'ROLE_ADMIN') %}
                    <div class="flex md:flex-row md:ml-auto">
                        <a href="/recipe/edit/{{ recipe.id }}">
                            <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg mb-4 flex items-center">
                                {% include 'recipe/details/edit.svg.twig' %}
                                <div class="ml-2"></div>
                                {{ 'editRecipeBtn'|trans }}
                            </button>
                        </a>
                        <a href="/recipe/delete/{{ recipe.id }}">
                            <button class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg flex items-center ml-4">
                                {% include 'recipe/details/delete.svg.twig' %}
                                <div class="ml-2"></div>
                                {{ 'deleteRecipeBtn'|trans }}
                            </button>
                        </a>
                    </div>
                {% endif %}
            </div>

            <div class="recipe-image mb-4 relative">
                {% if recipe.imageUrl %}
                    <div class="w-full h-64 bg-gray-700 rounded-2xl flex items-center justify-center text-gray-500 shimmer absolute top-0 left-0 z-10"
                         id="shimmer-{{ recipe.id }}">
                        {{ 'loadingText'|trans }}
                    </div>
                    <img src="{{ recipe.imageUrl }}" alt="{{ recipe.title }}"
                         class="w-full h-64 object-cover rounded-2xl"
                         onload="document.getElementById('shimmer-{{ recipe.id }}').style.display='none'">
                {% else %}
                    <div class="w-full h-64 bg-gray-700 rounded-2xl flex items-center justify-center text-gray-500">
                        {{ 'noImageFound'|trans }}
                    </div>
                {% endif %}
            </div>

            <h1 class="text-3xl font-bold mb-4">{{ recipe.title }}</h1>

            <div class="mb-6">
                {% if recipe.source %}
                    <p class="text-gray-400">{{ 'sourceDetailsLabel'|trans }}<span
                                class="text-white">{{ recipe.source }}</span></p>
                {% endif %}
                {% if recipe.site %}
                    <a href="{{ recipe.link }}" target="_blank" class="text-gray-400">{{ 'siteDetailsLablel'|trans }}
                        <span
                                class="text-blue-400">{{ recipe.site }}</span></a>
                {% endif %}
                <p class="text-gray-400">
                    {{ 'userDetailsLabel'|trans }}
                    <span class="text-white">
                    {% if recipe.user.email == 'root@root.com' %}
                        {{ 'adminsText'|trans }}
                    {% else %}
                        {{ recipe.user.firstName }} {{ recipe.user.lastName }}
                    {% endif %}
                </span>
                </p>
            </div>

            <div class="mb-6">
                <h2 class="text-2xl font-bold mb-2">{{ 'ingredientsLabel'|trans }}</h2>
                <ul class="list-disc pl-5">
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="mb-6">
                <h2 class="text-2xl font-bold mb-2">{{ 'directionsLabel'|trans }}</h2>
                <ul class="list-disc pl-5">
                    {% for direction in recipe.directions %}
                        <li>{{ direction }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="mb-6">
                <h2 class="text-2xl font-bold mb-2">{{ 'detailsContains'|trans }}</h2>
                <p class="text-gray-400">{{ recipe.ner }}</p>
            </div>
        </div>
    </div>
{% endblock %}
