{% extends 'base.html.twig' %}

{% block title %}{{ 'searchTitle'|trans }}{% endblock %}

{% block body %}
    <div class="m-auto max-w-2xl w-11/12">
        <div id="search-form"
             class="bg-gray-800 p-4 rounded-es-2xl rounded-ee-2xl shadow-lg flex items-center space-x-4">
            <input type="text" id="search-input" name="search" value="{{ searchTerm }}"
                   placeholder="{{ 'searchForRecipes'|trans }}"
                   class="w-full p-2 rounded-md bg-gray-700 border border-gray-600 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        </div>
    </div>
    <div id="not-found-message"></div>
    {% include 'recipe/recipes_grid_view.html.twig' with {'pagination': pagination} %}
    <script>
        window.pagination = {
            currentPageNumber: {{ pagination.currentPageNumber }},
            pageCount: {{ pagination.pageCount }},
            endpoint: "/search?{{ app_constant('SEARCH_PARAM') }}={{ searchTerm }}&"
        };

        let query = localStorage.getItem("searchQuery");
        if (query != null) {
            const searchInput = document.getElementById('search-input');
            searchInput.value = query
            fetchSearchBy(query)
        }

        document.addEventListener('DOMContentLoaded', function () {
            const searchInput = document.getElementById('search-input');
            let timeout = null;

            searchInput.addEventListener('input', function () {
                clearTimeout(timeout);
                timeout = setTimeout(function () {
                    fetchSearchBy(searchInput.value)
                }, 300);
            });
        });

        function fetchSearchBy(searchQuery) {
            console.log("FETCH: " + searchQuery)
            console.log("FETCH: " + `/search?{{ app_constant('SEARCH_PARAM') }}=${encodeURIComponent(searchQuery)}`)
            const recipeList = document.getElementById('recipe-list');
            const notFoundMessage = document.getElementById('not-found-message');
            fetch(`/search?{{ app_constant('SEARCH_PARAM') }}=${encodeURIComponent(searchQuery)}`, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
                .then(response => response.text())
                .then(data => {
                    if (data.trim() === '') {
                        notFoundMessage.innerHTML = `
                    <div class="text-center mt-10 w-full">
                        <p class="text-lg text-gray-600">{{ 'recipesNotFound'|trans }}</p>
                    </div>
                `;
                    } else {
                        notFoundMessage.innerHTML = `<div></div>`
                    }
                    recipeList.innerHTML = data;
                    window.pagination.endpoint = "/search?{{ app_constant('SEARCH_PARAM') }}=" + searchQuery + "&";
                    localStorage.setItem("searchQuery", searchQuery)
                });
        }
    </script>
    <script src="{{ asset('build/pagination.js') }}"></script>
{% endblock %}