{# templates/recipe/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Create New Recipe{% endblock %}

{% block body %}
    <div class="max-w-2xl mx-auto mt-6 px-4">
        <h1 class="text-3xl font-semibold mb-4">Create New Recipe</h1>

        {{ form_start(form, {'attr': {'class': 'bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4'}}) }}
        {{ form_row(form.title) }}
        {{ form_row(form.ingredients) }}
        {{ form_row(form.directions) }}

        <div id="sourceField">
            {{ form_row(form.source) }}
        </div>

        {# Link and Site fields initially hidden with inline style #}
        {{ form_row(form.link, {'attr': {'style': 'display:none;'}}) }}
        {{ form_row(form.site, {'attr': {'style': 'display:none;'}}) }}

        {{ form_row(form.ner) }}
        {{ form_row(form.imageUrl) }}

        <div class="flex items-center justify-between mt-4">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Save Recipe
            </button>
        </div>
        {{ form_end(form) }}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const sourceField = document.getElementById('{{ form.source.vars.id }}');
            const linkField = document.getElementById('{{ form.link.vars.id }}');
            const linkLabel = findLabelForControl({{ form.link.vars.id }})
            const siteField = document.getElementById('{{ form.site.vars.id }}');
            const siteLabel = findLabelForControl({{ form.site.vars.id }})

            // Function to toggle visibility and requirement of link and site fields
            function toggleFields() {
                console.log(sourceField.value)
                if (sourceField.value === 'My Own') {
                    linkField.style.display = 'none';
                    siteField.style.display = 'none';
                    linkLabel.style.display = 'none';
                    siteLabel.style.display = 'none';
                    linkField.removeAttribute('required');
                    siteField.removeAttribute('required');
                } else {
                    linkField.style.display = 'block';
                    siteField.style.display = 'block';
                    linkLabel.style.display = 'block';
                    siteLabel.style.display = 'block';
                    linkField.setAttribute('required', 'required');
                    siteField.setAttribute('required', 'required');
                }
            }

            function findLabelForControl(el) {
                const idVal = el.id;
                const labels = document.getElementsByTagName('label');
                for (let i = 0; i < labels.length; i++) {
                    if (labels[i].htmlFor === idVal)
                        return labels[i];
                }
            }

            // Initial call to toggle fields based on initial source value
            toggleFields();

            // Add event listener to source field to toggle fields on change
            sourceField.addEventListener('change', function () {
                toggleFields();
            });
        });
    </script>
{% endblock %}
