<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="{{ asset('build/images/recipeAppIcon.png') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">{% endblock %}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
    <style>
        @keyframes shimmer {
            0% {
                background-position: -1000px 0;
            }
            100% {
                background-position: 1000px 0;
            }
        }

        .shimmer {
            background: linear-gradient(
                    to right,
                    #2d2d2d 0%,
                    #3c3c3c 20%,
                    #2d2d2d 40%,
                    #2d2d2d 100%
            );
            background-size: 2000px 100%;
            animation: shimmer 2s infinite linear;
        }
    </style>
</head>
<body class="bg-gray-900 text-gray-100">
<div class="relative z-10">
    <nav class="bg-gray-800 shadow-md py-1">
        <div class="container mx-auto px-4 flex justify-between items-center">
            <a href="{{ path('recipes') }}" class="text-2xl font-bold flex items-center">
                <img class="size-12 mr-4" src="{{ asset('build/images/recipeAppIcon.png') }}" alt="AppLogo">
                {{ 'recipesApp'|trans }}
            </a>
            <div class="flex space-x-4 items-center">
                <a href="{{ path('search') }}" class="text-gray-300 hover:text-white">{{ 'search'|trans }}</a>
                <a href="{{ app.user ? path('user_recipes') : path('app_login') }}"
                   class="text-gray-300 hover:text-white">{{ 'yourRecipes'|trans }}</a>
                <a href="{{ app.user ? path('app_logout') : path('app_login') }}"
                   class="{{ app.user ? 'bg-red-600' : 'bg-blue-600' }} {{ app.user ? 'hover:bg-red-700' : 'hover:bg-blue-700' }} p-2 px-4 rounded-lg">
                    {{ app.user ? 'logout'|trans : 'login'|trans }}
                </a>
            </div>
        </div>
    </nav>
</div>
{% block body %}{% endblock %}
</body>
</html>
