<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">{% endblock %}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
    <style>
        @keyframes shimmer {
            0% {
                background-position: -1000px 0;
            }
            100% {
                background-position: 1000px 0;
            }
        }

        .shimmer {
            background: linear-gradient(
                    to right,
                    #2d2d2d 0%,
                    #3c3c3c 20%,
                    #2d2d2d 40%,
                    #2d2d2d 100%
            );
            background-size: 2000px 100%;
            animation: shimmer 2s infinite linear;
        }
    </style>
</head>
<body class="bg-gray-900 text-gray-100">
<nav class="bg-gray-800 shadow-md py-2">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <div class="text-xl font-bold">
            <a href="{{ path('recipes') }}">RecipesApp</a>
        </div>
        <div class="flex space-x-4 items-center">
            <a href="{{ path('search') }}" class="text-gray-300 hover:text-white">Search</a>
            <a href="{{ path('your_recipes') }}" class="text-gray-300 hover:text-white">Your Recipes</a>
            <a href="{{ app.user ? '/logout' : '/login' }}"
               class="{{ app.user ? 'bg-red-600' : 'bg-blue-600' }} {{ app.user ? 'hover:bg-red-700' : 'hover:bg-blue-700' }} p-2 px-4 rounded-lg">
                {{ app.user ? 'Logout' : 'Login' }}
            </a>
        </div>
    </div>
</nav>
<div class="container mx-auto px-4">
    {% block body %}{% endblock %}
</div>
</body>
</html>