{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <img src="{{ asset('build/images/spagetti.jpg') }}" alt="" class="absolute inset-0 w-full h-full object-cover z-0">
    <div class="absolute inset-0 bg-blue-950 opacity-65 z-0"></div>
    <div class="relative z-10 max-w-2xl mx-auto mt-6 px-4">
        {% include 'user/authentication/auth_buttons.html.twig' %}
        <form method="post" class="bg-gray-800 shadow-md rounded-b-3xl px-8 pt-6 pb-8 mb-4">
            {% if error %}
                <div class="bg-red-500 text-white p-3 rounded mb-4">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    {{ 'userLoggedIn'|trans({'%email%': app.user.userIdentifier}) }},
                    <a class="text-muted" href="{{ path('app_logout') }}">{{ 'logoutBtn'|trans }}</a>
                </div>
            {% endif %}
            <label for="username">{{ 'emailLabel'|trans }}</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username"
                   class="form-control mb-6 form-input-dark w-full bg-gray-800 text-gray-100 border border-gray-600 rounded-md px-3 py-2 leading-tight focus:outline-none focus:shadow-outline"
                   autocomplete="email" required autofocus>
            <label for="password">{{ 'passwordLabel'|trans }}</label>
            <input type="password" name="_password" id="password"
                   class="form-control mb-6 form-input-dark w-full bg-gray-800 text-gray-100 border border-gray-600 rounded-md px-3 py-2 leading-tight focus:outline-none focus:shadow-outline"
                   autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">{{ 'rememberMeLabel'|trans }}</label>
            </div>

            <div class="flex items-center justify-end mt-4">
                <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">
                    {{ 'loginAuthBtn'|trans }}
                </button>
            </div>
        </form>
    </div>

{% endblock %}
