{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <style>
        .custom-error {
            color: red;
        }
    </style>
{% endblock %}

{% block body %}
    <img src="{{ asset('build/images/spagetti.jpg') }}" alt="" class="absolute inset-0 w-full h-full object-cover z-0">
    <div class="absolute inset-0 bg-blue-950 opacity-65 z-0"></div>
    <div class="relative max-w-2xl mx-auto mt-6 px-4">
        {% include 'user/authentication/auth_buttons.html.twig' %}
        {{ form_start(registrationForm, {'attr': {'class': 'bg-gray-800 shadow-md rounded-b-3xl px-8 pt-6 pb-8 mb-4'}}) }}

        {{ form_label(registrationForm.firstName, "First name") }}
        {{ form_widget(registrationForm.firstName) }}
        <div class="custom-error mb-4">
            {{ form_errors(registrationForm.firstName) }}
        </div>

        {{ form_label(registrationForm.lastName, "Last name") }}
        {{ form_widget(registrationForm.lastName) }}
        <div class="custom-error mb-4">
            {{ form_errors(registrationForm.lastName) }}
        </div>

        {{ form_label(registrationForm.email, "Email") }}
        {{ form_widget(registrationForm.email) }}
        <div class="custom-error mb-4">
            {{ form_errors(registrationForm.email) }}
        </div>

        {{ form_label(registrationForm.plainPassword, "Password") }}
        {{ form_widget(registrationForm.plainPassword) }}
        <div class="custom-error mb-4">
            {{ form_errors(registrationForm.plainPassword) }}
        </div>

        <div class="flex items-center justify-end mt-4 rounded-lg">
            <button type="submit" class="bg-blue-600 rounded-lg hover:bg-blue-700 text-white font-bold py-2 px-4">
                Register
            </button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
